<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.acme.controller.DatabaseContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>com.acme.controller.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.acme.controller.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeesServlet</servlet-name>
        <servlet-class>com.acme.controller.GetEmployeesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeesServlet</servlet-name>
        <url-pattern>/GetEmployeesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- VERY IMPORTANT! The following Context Init Parameters are the credentials for the MySQL database. -->
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/acme</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>root</param-value>
    </context-param>
</web-app>
